{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pesan</title>
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
  </head>
  <div class="topnav">
    <a class="active" href="../lab-4">HOME</a>
    <a href="../lab-4/add">ADD NOTES</a>
    <a href="../lab-4/note">NOTE LIST</a>
  </div>
  <body>
      <div class="form">
    <form method="post" action="">
        {% csrf_token %}
        <p style="color:#6C4A4A;font-size:20px;">To :</p>
        {{ form.to }}
        <p style="color:#6C4A4A;font-size:20px;">From :</p>
        {{ form.From }}
        <p style="color:#6C4A4A;font-size:20px;">Title :</p>
        {{ form.tittle }}
        <p style="color:#6C4A4A;font-size:20px;">Messages :</p>
        {{ form.messages }}
        <br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>