{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pesan</title>
    <link rel="stylesheet" href="{% static 'notelist.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
  </head>
  <div class="topnav">
    <a class="active" href="../lab-4">HOME</a>
    <a href="../lab-4/add">ADD NOTES</a>
    <a href="../lab-4/note">NOTE LIST</a>
  </div>
  <body>
    <p style="color:#6C4A4A;font-size:30px;">KUMPULAN PESANMU ADA DISINI!</p>
    <p style="color:#6C4A4A;font-size:30px;">-----------------------------------------------------------------------------------------------------------------------------</p>
<div class="cardgroup">
        {% for i in notes %}
        <div class="card">
        
        <p style="color:white;font-size:20px;">To : {{i.to}}</p>
        <p style="color:white;font-size:20px;">From : {{i.From}}</p>
        <p style="color:white;font-size:20px;">Title: {{i.tittle}}</p>
        <p style="color:white;font-size:20px;">Messages: {{i.messages}}</p>
        </div>
      {% endfor %}
</div>
  </body>
</html>