.topnav {
    background-color: #6C4A4A;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #C89595;
    color: white;
  }

  body{
      background-image: url('bgwatercolor.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
  }

  .form{
    display: flex;
    justify-content: center; 
  }

  button{
      height: 50px;
      width: 100%;
      margin-top: 50px ;
      background-color: #C89595;
  }

  *{
    font-family: 'Balsamiq Sans', cursive;
  }