.topnav {
    background-color: #6C4A4A;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #C89595;
    color: white;
  }

  table {
    border: 1px solid black;
    
  }
  
  th, td {
    border: 1px solid black;
  }  

  .tabel{
      display: flex;
      justify-content: center;
  }

  p{
      text-align: center;
  }

  body{
      background-image: url('bgwatercolor.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
  }

  .card{
      background-color: #D5BFBF;
      width: 200px;
      margin-bottom: 20px;
      margin-right: 20px;
      border-radius: 20%
  }

  .cardgroup{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  *{
    font-family: 'Balsamiq Sans', cursive;
  }